img {
    width: 1400px;
    height: 1000px;
}

.container{
    display: flex;
}

h2 {
    font-size: 100px;
    color: aliceblue;
    background-color: black;
    padding-top: 70px;
    margin-top: 0px;
    padding-left: 80px;
    margin-bottom: 0px;
    padding-right: 100px;
}